{:full-name "jaketrent/packitout"
 :ns-name   "jaketrent.packitout"
 :sanitized "jaketrent/packitout"
 :name      "packitout"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
