{% extends "items/base.html" %}

{% block main %}
<div class="content">
  <h2>Items Create</h2>
</div>

<form method="POST" action="/items/create">
  {% csrf-field %}
  <p>
    <label>
      Name:
      <input type="text" name="name" value="{{name}}" />
    </label>
  </p>
  {% if errors.name %}
    <div class="notification is-danger">{{errors.name}}</div>
  {% endif %}

  <p>
    <label>
      Details:
      <textarea class="textarea" name="details">{{details}}</textarea>
    </label>
  </p>
  {% if errors.details %}
    <div class="notification is-danger">{{errors.details}}</div>
  {% endif %}

  <p>
    <label>
      Weight:
      <input type="number" min="0" name="weight" value="{{weight}}" />
    </label>
  </p>
  {% if errors.weight %}
    <div class="notification is-danger">{{errors.weight}}</div>
  {% endif %}

  <p>
    <label>
      Tags:
      <input type="text" name="tags" value="{{tags}}" />
    </label>
  </p>
  {% if errors.tags %}
    <div class="notification is-danger">{{errors.tags}}</div>
  {% endif %}

  <button>Create</button>
</form>
{% endblock %}
