{% extends "items/base.html" %}

{% block main %}
<h1>Items Table</h1>

<table>
  <thead>
    <tr>
      <th>item Name</th>
      <th>Details</th>
      <th>Weight</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>
          <a href="/items/{{ item.id }}/edit">{{item.name}}</a>
        </td>
        <td>
          {{item.details}}
        </td>
        <td>
          {{item.weight}}
        </td>
        <td>
          {{item.tags}}
        </td>
        <td>
          <a href="/items/{{ item.id }}/destroy">❌</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
