<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Create packing lists">
  <title>Packitout</title>

  <link href="/css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="nav site-nav">
    <ul>
      {% block sitenav %}
        <li><a href="/">Packitout</a></li>
        <li><a href="/lists" class="{% if uri = "/lists" %}active{% endif %}">Lists</a></li>
        <li><a href="/items" class="{% if uri = "/items" %}active{% endif %}">Items</a></li>
      {% endblock %}
    </ul>
  </nav>
  {% block subnav %}
  {% endblock %}
  <main>
    {% block main %}
    {% endblock %}
  </main>

  <script src="/js/htmx.1.9.4.min.js"></script>
</body>
</html>
